        <form action="<?= $path ?>/upload" method="post" enctype="multipart/form-data">
            Select image to upload:
            <input type="file" name="fileToUpload" accept="image/*" required>
            <input type="submit" value="Upload Image" name="Send">
        </form>
