        <script src="<?= $path; ?>/vendor/components/jquery/jquery.min.js" crossorigin="anonymous"></script>
        <script src="<?= $path; ?>/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
